.custom {

  #header {
    background: #111;
    .box-shadow(0, 0, 16px, 0, rgba(0, 0, 0, .5));

    #logo {
      line-height: 2.2em;
      text-decoration: none;
      color: @text-color;
      font-size: 1.66em;
      font-family: @title-font;
    }
    .navi {
      li a {
        padding: @default-margin;
      }
    }
  }

  #hero {
    padding: @grid-margin*3 0;
    padding-top: @grid-margin*3 * @padding-top-multiplier;
    font-size: 1.4em;
    color: white;
    background: darken(@link-color, 20%);
    h1 {
      color: inherit;
      .text-shadow();
    }
    @media screen and (max-width : @layout-medium-width) {
      font-size: .85em;
    }
  }

  #sidebar {
    .navi {
      ul {
        display: none;
        position: relative;
        width: 100%;
        font-size: .9em;
        .navi-theme(@text-color, transparent, @text-color, darken(@bg-color, 8%));
        .active { font-weight: bold; }
      }
      li {
        border-top: 1px @bg-color solid;
        &.active ul { display: block; }
      }
    }
  }

  #page {
    padding: @grid-margin 0;

    .content-block {
      min-height: 240px;

      padding-bottom: @default-margin*2;
      margin-bottom: @default-margin*2;
      border-bottom: 1px darken(@bg-color, 10%) solid;
    }

    .grid {
      &.debug {
        .col > div { padding: @default-margin @default-margin/2; }
        .col:hover {
          & > div { background: #DDD; }
        }
      }
    }

    .code {
      .text-shadow();
      .border-radius(3px);
    }
    span.code {
      display: inline-block;
      font-family: monospace;
      padding: 0 .33em;
      color: white;
      background: #666;
    }
  }

  #footer {
    min-height: 400px;
    padding: @grid-margin 0;
    background: darken(@bg-color, 10%);
  }

}







.demo.layout {

  #header {
    &.fixed { background: @bg-color; }

    .toggle-nav.icon-bars {
      font-size: 1.5em;
      margin-right: -@default-margin;
    }
  }

  #main-nav {
    .label { font-size: 1.4em; }
    .navi { margin-bottom: 0; }
  }

  #hero {
    color: white;
    background: darken(@link-color, 20%);
    h1 { color: inherit; }
  }

  #footer {
    .col {
      border-left: 1px #EEE solid; 
      &:first-child {
        border: none; 
      }

      @media screen and (max-width : @layout-medium-width) {
        border: none;
      } 
    }
  }

}