<h2>About OnInFive</h2>
<p>
  OnInFive is an HTML5 front-end framework. It is developed by Felix Laukel and used at eCentral.<br />
  There are many more frameworks out there, that to similar things as OnInFive and some of them do even more!<br />
  The main reason for developing OnInFive is: Learning and understanding the backgrounds of good front-end design.
</p>
<p>
  Yet, OnInFive can do more than just responsive grids and basic page layouts. Learn more about it's features here!
</p>