<h2>Getting started</h2>
<div class="responsive grid">
  <!-- REPEAT: 3x -->
  <div class="col size-33">
    <p>
      Here goes some information about installation and basic setup. Lorem ipsum dolor sit amet and so on and so forth.
    </p>
  </div>
</div>