<h2>The Grid</h2>
<p>
  Grids are invoked by applying <span class="code">class="grid"</span> to a block-element like <span class="code">div</span>.
</p>
<p>
  The direct descendants of a grid are the columns. Columns must have <span class="code">class="col size-XX"</span> assigned, where XX ist the <strong>percentual width</strong> of that column.
</p>
<p>
  The framework supports most common widths: <strong>25%, 33%, 50%, 66% 75%</strong><br />
  As well as some special variations: <strong>10%, 16%, 20%, 40%, 60%, 80%</strong>
</p>
<p>
  
</p>

<div class="grid">
  <div class="col size-50">
    <div class="debug grid gap">

      <div class="col size-25"><div>size-25</div></div>
      <div class="col size-50"><div>size-50</div></div>
      <div class="col size-25"><div>size-25</div></div>

    </div>
  </div>
  <div class="col size-50">
<pre class="code"><code><?php echo htmlentities(
'<div class="grid">
  <div class="col size-25"> ... </div>
  <div class="col size-50"> ... </div>
  <div class="col size-25"> ... </div>
</div>'); ?>
</code></pre>                    
  </div>
</div>