@import url(~"http://fonts.googleapis.com/css?family=Open+Sans:400,600|Open+Sans+Condensed:700");

@main-font: "Open Sans", sans-serif;
@title-font: "Open Sans Condensed", sans-serif;

@main-font-weight: normal;
@title-font-weight: 700;

@theme-color: #F33;
@text-color: #666;
@title-color: #333;
@link-color: @theme-color;
@highlight-color: darken(@link-color, 20%);
@bg-color: #FFF;

@default-font-size: 14px;
@default-line-height: 1.66em;

@default-margin: @default-font-size; // if ie8 support is not mandatory, use 1rem instead

@grid-margin: @default-margin*2; // these need to be px for calculation reasons :(
@responsive-grid-margin: @grid-margin; // for collapsed grid columns only

@page-width: 1160px;
@page-min-width: 320px;
@page-max-width: @page-width;

@layout-small-width: 640px;
@layout-medium-width: 960px;
@layout-large-width: 1024px;