/*! layout.less v1.14.4 | MIT License | (c) 2015 by Felix Laukel (http://laukel.com) */

/*==========================================================================
  mixins
  ==========================================================================*/

.width-range (@min: @page-min-width, @max: @page-max-width) {
  min-width: @min;
  max-width: @max;
}
.center () {
  position: relative;
  margin: 0 auto;
}
.box-sizing (@sizing: border-box) {
  box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  //-webkit-box-sizing: @sizing;
}
.user-select (@argument: none) {
  user-select: @argument;
  -webkit-user-select: @argument;
  -moz-user-select: @argument;
  -ms-user-select: @argument;
}
.border-radius (@radius: 8px) {
  border-radius: @radius;
}
.box-shadow (@x: 0, @y: 0, @blur: 8px, @spread: 0, @color: #000) {
  box-shadow: @arguments;
}
.inner-shadow (@x: 0, @y: 0, @blur: 8px, @spread: 0, @color: #000) {
  box-shadow: @arguments inset;
}
.text-shadow (@x: 1px, @y: 1px, @blur: 0, @color: #000) {
  text-shadow: @arguments;
}
.h-gradient (@col1: @bg-color, @col2: @highlight-color, @start: 0%, @end: 100%) {
  background: @col1; /* Old browsers */
  background: -moz-linear-gradient(left, @col1 @start, @col2 @end); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(@start,@col1), color-stop(@end,@col2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, @col1 @start,@col2 @end); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, @col1 @start,@col2 @end); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, @col1 @start,@col2 @end); /* IE10+ */
  background: linear-gradient(to right, @col1 @start,@col2 @end); /* W3C */
  //filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='@{col1}', endColorstr='@{col2}',GradientType=1 )"; /* IE6-9 */
  //.ie8 & { filter: none; }
}
.v-gradient (@col1: @bg-color, @col2: @highlight-color, @start: 0%, @end: 100%) {
  background: @col1; /* Old browsers */
  background: -moz-linear-gradient(top, @col1 @start, @col2 @end); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(@start,@col1), color-stop(@end,@col2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, @col1 @start,@col2 @end); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, @col1 @start,@col2 @end); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, @col1 @start,@col2 @end); /* IE10+ */
  background: linear-gradient(to bottom, @col1 @start,@col2 @end); /* W3C */
  //filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='@{col1}', endColorstr='@{col2}',GradientType=0 )"; /* IE6-9 */
  //.ie8 & { filter: none; }
}
.opacity (@opacity: 0.5) {
  opacity: @opacity;
  @perc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{perc})"; //"
  filter: ~"alpha(opacity=@{perc})";
}
.transition (@property: all, @duration: .3s, @ease: @default-easing, @delay: 0s) {
  transition: @arguments;
  -webkit-transition: @arguments;
}
.transitions (...) { // for multiple properties, use: .transitions(~'prop duration [...][, [...]]')
  transition: @arguments;
  -webkit-transition: @arguments;
}
.perspective (@distance: 800) {
  perspective: @distance;
  -moz-perspective: (unit(@distance, px));
  -webkit-perspective: @distance;
}
.transform (@transform) {
  transform: @transform;
  -webkit-transform: @transform;
  -ms-transform: @transform;
}
.transform-origin (@origin) {
  transform-origin: @origin;
  -webkit-transform-origin: @origin;
  -ms-transform-origin: @origin;
}
.transform-style (@style) {
  transform-style: @style;
  -webkit-transform-style: @style;
  -ms-transform-style: @style;
}
.backface-visibility (@visibility) {
  backface-visibility: @visibility;
  -webkit-backface-visibility: @visibility;
  -ms-backface-visibility: @visibility;
}
.animation (@animation) {
  animation: @animation;
  -webkit-animation: @animation;
}
.font-face (@font-name) {
  @font-face {
    font-family: @font-name;
    src: url('@{fonts}@{font-name}.eot');
    src: local('☺'),
      url('@{fonts}@{font-name}.eot?#iefix') format('embedded-opentype'),
      url('@{fonts}@{font-name}.ttf') format('truetype'),
      url('@{fonts}@{font-name}.woff') format('woff'),
      url('@{fonts}@{font-name}.svg#@{font-name}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
  }
}

.corner (@type, @size: @default-margin, @color: @highlight-color) when (@type = top-left) {
  .corner-init ();
  border-right: @size solid transparent;
  border-top: @size solid @color;
}
.corner (@type, @size: @default-margin, @color: @highlight-color) when (@type = top-right) {
  .corner-init ();
  border-left: @size solid transparent;
  border-top: @size solid @color;
}
.corner (@type, @size: @default-margin, @color: @highlight-color) when (@type = bottom-left) {
  .corner-init ();
  border-right: @size solid transparent;
  border-bottom: @size solid @color;
}
.corner (@type, @size: @default-margin, @color: @highlight-color) when (@type = bottom-right) {
  .corner-init ();
  border-left: @size solid transparent;
  border-bottom: @size solid @color;
}
.corner-init () {
  position: absolute; 
  content: "";
}

.angular(@color, @top: 0, @right: 0, @bottom: 0, @left: 0) {
  display: block;
  position: absolute;
  content: "";
  border: 0 @color;
  border-style: solid solid solid dashed;
  border-color: transparent @color;
  border-width: @top @right @bottom @left;
  pointer-events: none;
  z-index: 1;
}

.grid-spacing (@gap) {
  margin-left: -@gap/2;
  margin-right: -@gap/2;
  .row { margin-top: @gap; }
  .col {
    padding: 0 @gap/2;
    & > .row {
      margin-left: -@gap/2;
      margin-right: -@gap/2;
    }
  }
}

.navi-theme (
  @the-link-color: @link-color, 
  @link-bg-color: transparent, 
  @link-hover-color: @bg-color, 
  @link-hover-bg-color: @link-color,
  @sub-bg-color: darken(@bg-color, 4%),
  @link-hover-decoration: none
) {
  a {
    color: @the-link-color;
    background: @link-bg-color;
  }
  li.selected > a,
  li.active > a,
  li:hover > a,
  a.selected, 
  a.active,
  a:hover {
    text-decoration: @link-hover-decoration;
    color: @link-hover-color;
    background: @link-hover-bg-color;
  }
  ul,
  .dropdown { background-color: @sub-bg-color; }
}


/*==========================================================================
  basic animation keyframes
  ==========================================================================*/

.fadeInUp-frames () {
  0% { .opacity(0); .transform(translateY(20%)); }
  100% { .opacity(1); .transform(none); }
}
@keyframes fade-in-up { .fadeInUp-frames(); }
@-webkit-keyframes fade-in-up { .fadeInUp-frames(); }


.fadeInRight-frames () {
  0% { .opacity(0); .transform(translateX(-20%)); }
  100% { .opacity(1); .transform(none); }
}
@keyframes fade-in-right { .fadeInRight-frames(); }
@-webkit-keyframes fade-in-right { .fadeInRight-frames(); }


.fadeInDown-frames () {
  0% { .opacity(0); .transform(translateY(-20%)); }
  100% { .opacity(1); .transform(none); }
}
@keyframes fade-in-down { .fadeInDown-frames(); }
@-webkit-keyframes fade-in-down { .fadeInDown-frames(); }


.fadeInLeft-frames () {
  0% { .opacity(0); .transform(translateX(20%)); }
  100% { .opacity(1); .transform(none); }
}
@keyframes fade-in-left { .fadeInLeft-frames(); }
@-webkit-keyframes fade-in-left { .fadeInLeft-frames(); }


.fadeInBackward-frames () {
  0% { .opacity(0); .transform(scale(1.2)); }
  100% { .opacity(1); .transform(none); }
}
@keyframes fade-in-backward { .fadeInBackward-frames(); }
@-webkit-keyframes fade-in-backward { .fadeInBackward-frames(); }


.fadeInForward-frames () {
  0% { .opacity(0); .transform(scale(.8)); }
  100% { .opacity(1); .transform(none); }
}
@keyframes fade-in-forward { .fadeInForward-frames(); }
@-webkit-keyframes fade-in-forward { .fadeInForward-frames(); }


.fadeOut-frames () {
  0% { .opacity(1); }
  100% { .opacity(0); }
}
@keyframes fade-out { .fadeOut-frames(); }
@-webkit-keyframes fade-out { .fadeOut-frames(); }

/*==========================================================================
  basic html styles
  ==========================================================================*/

html { font-size: @default-font-size; }
body.@{layout-class} { overflow-y: scroll; }

.@{layout-class} {

  position: relative;

  font-family: @main-font;
  font-weight: @main-font-weight;
  line-height: @default-line-height;

  color: @text-color;
  background: @bg-color;

  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 @default-margin 0;
    font-family: @title-font;
    font-size: 2.0em;
    font-weight: @title-font-weight;
    line-height: @default-line-height * 0.72;
    color: @title-color;
  }
  h1, .h1 { font-size: 4.0em }
  h2, .h2 { font-size: 3.0em }
  h3, .h3 { font-size: 2.0em }
  h4, .h4 { font-size: 1.5em }
  h5, h6, .h5 { font-size: 1.2em }

  img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  }

  blockquote {
    margin: 0;
    padding: 0 @default-margin;
    border-left: .5em darken(@bg-color, 10%) solid;
  }

  p, 
  ul, ol,
  blockquote {
    margin: 0 0 @default-margin 0;
    &:last-child { margin-bottom: 0; }
  }

  b, strong { font-weight: bold; }

  hr {
    height: @border-size;
    margin: 0 0 @default-margin 0;
    border: none;
    background: mix(@bg-color, @text-color, 80%);
  }
  
  a {
    color: @link-color;
    text-decoration: none;

    &.selected, 
    &:hover { 
      color: @highlight-color;
      text-decoration: underline;
    }
    &:focus { outline: 0; }
  }

  table {
    width: 100%;
    td, th { padding: @default-margin/4 @default-margin/2; }
    thead {
      border-bottom: @border-size darken(@bg-color, 10%) solid;
      th { text-align: left; }
    }
    tbody {
      tr {
        &:nth-child(2n) {
          td { background: darken(@bg-color, 5%); }
        }
        &:hover {
          td { background: darken(@bg-color, 10%); }
        }
      }
    }
    tfoot {
      border-top: @border-size darken(@bg-color, 10%) solid;
    }
  }

/*==========================================================================
  basic helper classes
  ==========================================================================*/

  .hidden, 
  [hidden],
  .prototype {
    display: none !important;
  }
  .invisible {
    visibility: hidden;
  }
  .large-screen-only {
    @media screen and (max-width : @layout-medium-width) {
      display: none !important;
    }
  }
  .large-screen-hidden {
    @media screen and (min-width : (@layout-medium-width+1)) {
      display: none !important;
    }
    .ie8 & { display: none !important; }
  }
  .medium-screen-only {
    @media screen and (min-width : (@layout-medium-width+1)) { 
      display: none !important;
    }
    @media screen and (max-width : @layout-small-width) { 
      display: none !important;
    }
    .ie8 & { display: none !important; }
  }
  .small-screen-only {
    @media screen and (min-width : (@layout-small-width+1)) { 
      display: none !important;
    }
    .ie8 & { display: none !important; }
  }
  .small-screen-hidden {
    @media screen and (max-width : @layout-small-width) { 
      display: none !important;
    }
  }
  .print-only {
    @media screen { display: none !important; }
  }
  .print-hidden {
    @media print { display: none !important; }
  }
  .screen-reader-only,
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
    border: none;
  }

  .clear,
  .group:after,
  .clear-after:after {
    clear: both;
  }

  .group:before,
  .group:after,
  .clear-after:after {
    display: table;
    content: "";
  }

  .fixed {
    position: fixed !important;
    top: 0;
    z-index: 3;
  }

  .block { display: block !important; }

  .main-font { font-family: @main-font !important; }
  .title-font { font-family: @title-font !important; }

  .test { border: @border-size @highlight-color dotted; }

/*==========================================================================
  basic styles for iconset
  ==========================================================================*/
  [class^="icon-"],
  [class*=" icon-"],
  [data-icon] {

    &:before {
      display: inline-block;
      padding-right: @icon-margin;
      speak: none;
      font-family: @iconset;
      font-size: @icon-size;
      .ie8 & { font-size: inherit; }
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    &.icon-only {
      &:before {
        padding-right: 0;
      }
    }
    &:hover {
      &:before {
        text-decoration: none !important;
      }
    }
  }
  [data-icon]:before { content: attr(data-icon); }



/*==========================================================================
  main page container
  ==========================================================================*/
  &.main,
  .main {

    /* different site layouts go here */
    overflow-x: hidden;

    &,
    .section {
      position: relative;
      .width-range(100%, 100%);
    }
    .content {
      position: relative;
      margin: 0 auto;
      padding: 0 @default-margin;
      .width-range();
      .box-sizing(border-box);
    }

  }

  /* unordered list for layout purpose */

  ul, ol {
    &.blank {
      padding: 0;
      li { list-style-type: none; }
    }
  }

  /* break with no visible appearance */

  br.blank {
    font-size: 0;
    line-height: 0;
    visibility: hidden;
  }

  /* navigation layouts */

  /*ul*/.navi {
    @sub-width: 12em;

    display: block;
    position: relative;
    z-index: 2;

    &:after {
      display: table;
      content: "";
      clear: both;
    }


    &, ul {
      padding: 0;
      list-style-type: none;
    }

    ul {
      display: none;
      position: absolute;
      width: @sub-width;
      //background-color: darken(@bg-color, 4%);
      z-index: 1;

      // use as default positioning (vertical)
      top: 0;
      right: 0;
      margin-right: -@sub-width;
    }

    .dropdown {
      display: none;
      position: absolute;
      padding: @grid-margin;
      //background-color: darken(@bg-color, 4%);
      z-index: 1;
      .box-sizing(border-box);
    }
    li {
      position: relative;
      &:hover {
        & > ul,
        & > .dropdown { display: block; }
      }
      &.mega {
        position: static;
        height: 100%; // hover area fix
        & > ul,
        & > .dropdown {
          left: 0 !important;
          width: 100%;
        }
      }
    }
    a,
    .item,
    .label {
      display: block;
      padding: @default-margin/2 @default-margin;
      padding-top: @default-margin/2 * @padding-top-multiplier;
    }

    // add colors and deco to navi link states
    .navi-theme();

    /* horizontal navigations (default for main menu)
       NOTE: little tricky for submenus! */
    &,
    ul.horizontal {
      & > li {
        display: block;
        float: left;

        & > ul {
          &, &.vertical {
            top: auto;
            right: auto;
            left: auto;
            margin: 0;
          }
        }
      }
    }
    ul.horizontal { // sub menus only
      width: @sub-width*3;
    }


    
    /* vertical navigations (default for sub menu) */
    &.vertical,
    ul,
    ul.vertical {
      & > li {
        position: relative;
        float: none;

        & > ul {
          top: 0;
          right: 0;
          &.horizontal { margin-right: -@sub-width*3; }
          &.vertical { margin-right: -@sub-width; }
        }
      }
    }




    // alignments
    &.left,
    &.center,
    &.right {
      font-size: 0;
      line-height: 0;
      & > li {
        display: inline-block;
        float: none;
        text-align: left;
        vertical-align: middle;
        font-size: @default-font-size;
        line-height: @default-line-height;
      } 
    }
    &.left { text-align: left; }
    &.center { text-align: center; }
    &.right { text-align: right; }

    &.right { // open submenus to right
      li {
        & > ul {
          top: auto;
          right: 0;
          left: auto;
          margin: 0;
          ul {
            top: 0;
            right: auto;
            left: 0;
            margin-left: -@sub-width;
          }
        }
      }
    }

    // special for trimming left/right padding of links
    &.trim-left,
    .trim-left {
      margin-left: -@default-margin;
      // old implementation
      //& > li:first-child > a { padding-left: 0 !important; }
      //&.vertical > li > a { padding-left: 0 !important; }
    }

    &.trim-right,
    .trim-right {
      margin-right: -@default-margin;
      // old implementation
      //& > li:last-child > a { padding-right: 0 !important; }
      //&.vertical > li > a { padding-right: 0 !important; }
    }

    /* responsive navigation behaviour */
    &.responsive {
      @media screen and (max-width : @layout-small-width) { 
        &, ul {
          display: block;
          position: static;
          width: 100%;
          background: transparent;

          li {
            display: block;
            float: none;
          }
        }
        ul {
          padding-left: @default-margin;
          .box-sizing(border-box);
        }
        .dropdown {
          display: block;
          position: relative;
        }
        &.trim-left > li > a { padding-left: 0; }
        &.trim-right > li > a { padding-right: 0; }
      }
    }
  }

  .toggle-nav {
    display: none;
    padding: @default-margin/2 @default-margin;
    color: @bg-color;
    background: @link-color;
    &:hover {
      color: @bg-color;
      background: @highlight-color;
    }
    @media screen and (max-width : @layout-small-width) {
      display: inline-block;
    }
  }

  nav.toggleable {
    @media screen and (min-width : (@layout-small-width+1)) {
      display: block !important;
    }
    @media screen and (max-width : @layout-small-width) {
      display: none;
      clear: both;
      float: none;

      &.overlay,
      &.sidebar {
        position: fixed !important;
        left: 0 !important; top: 0 !important;
        right: auto !important; bottom: 0 !important;
        width: 100%;
        margin: 0 !important;
        z-index: 10;
        .box-sizing(border-box);
      }

      &.sidebar {
        
        &:after {
          display: block;
          position: fixed;
          content: "";
          right: 0;
          top: 0;
          bottom: 0;
          width: 100%;
          //height: 100%;
          background: rgba(0, 0, 0, .33);
        }

        .inner-wrap {
          position: fixed;
          top: 0;
          bottom: 0;
          width: 80%;
          overflow-y: auto;
          background: @bg-color;
          z-index: 1;
          .box-sizing();
        }
      }

      &.overlay {
        display: block;
        overflow-y: auto;
        background: @bg-color;
        pointer-events: none;
        .opacity(0);
        .transform(translateX(-100%)); // overwrite this to change animation in/out
        .transition();

        .toggle-nav {
          position: relative;
          z-index: 1;
        }
      }

      &.active {
        display: block;
        &.sidebar {
          .inner-wrap {
            .animation(fade-in-right .3s @default-easing .1s both);
          }
        }
        &.overlay {
          pointer-events: auto;
          .opacity(1);
          .transform(none) !important;
        }
      }
    }
  }

  /* HIGHLY EXPERIMENTAL */
  // not working with sticky sections!
  &.off-screen-container,
  .off-screen-container {
    @width: 80%;

    //overflow-x: hidden;
    transition: transform .3s @default-easing 0s;
    -webkit-transition: -webkit-transform .3s @default-easing 0s;


    @media screen and (max-width : @layout-small-width) {
      .off-screen {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        width: @width;
        background: @bg-color;
        overflow-y: auto;
        //z-index: 10;
        .box-sizing();
      }

      &.active {
        &.left { .transform(translateX(@width)); }
        &.right { .transform(translateX(-@width)); }
      }

      &.left {
        .off-screen {
          left: 0;
          margin-left: -@width;
        }
      }
      &.right {
        .off-screen {
          right: 0;
          margin-right: -@width;
        }
      }
    }
  }





/*==========================================================================
  special layout sections & styling
  ==========================================================================*/

  .topline { margin-bottom: 0; }
  .subline { margin-top: -@default-margin; }

  .fl-left,
  .push-left { float: left; }
  .fl-right,
  .push-right { float: right; }

  .paragraph {margin-bottom: @default-margin; }

  .gap { margin: @default-margin*2 0; }
  .inner-gap { padding: @default-margin*2 0; }

  .article {
    .intro {
      font-size: 1.2em;
      line-height: 1.6em;
      color: lighten(@text-color, 30%);
    }
  }

  .figure {
    &.center { text-align: center; }
    img { margin-bottom: @default-margin; }
    figcaption,
    .caption {}
  }

  pre.code {
    padding: @default-margin;
    color: @bg-color;
    background-color: @text-color;
  }

  .cine {
    position: relative;
    overflow: hidden;
    color: white;
    background: black;

    img {
      display: block;
      width: 100%;
      .opacity(.75);
      .transform(scale(1.2) translate3d(0, 0, 0));
      .transition(all, @fx-animation-time, @fx-animation-ease);
    }
    figcaption,
    .caption {
      position: absolute;
      left: 0; top: 0;
      width: 100%; height: 100%;
      padding: @default-margin*2;
      text-align: center;
      .box-sizing(border-box);
      * {
        position: relative;
        color: inherit;
        z-index: 1;
      }
      p {
        padding-top: @default-margin;
        border-top: @border-size white solid;
      }
    }

    &:hover {
      img {
        .opacity(.5);
        .transform(none);
      }
      figcaption,
      .caption {
      }
    }

    @media screen and (max-width : @layout-small-width) {
      //
    }
  }

  .btn {
    display: inline-block;
    padding: @button-padding @button-padding*2;
    padding-top: @button-padding * @padding-top-multiplier;
    color: @bg-color;
    background: @link-color;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    outline: 0;

    &:hover,
    &:focus {
      color: @bg-color;
      background: @highlight-color;
      text-decoration: none;
    }
  }

  .circle {
    .border-radius(50%);
  }
  .mask {
    position: relative;
    overflow: hidden;
  }

  .checklist {
    position: relative;
    padding-left: 4em;
    i,
    .icon {
      position: absolute;
      font-size: 2.5em;
      left: 0; top: 0;
      margin-top: .1em; 
      &:before { font-size: inherit; }
    }
  }

  .stats {
    .stat {
      padding: @default-margin/4 0;
      border-top: @border-size rgba(0, 0, 0, .2) solid;
      &:first-child { border-top: none; }
    }
    .key { font-weight: bold; }
    .value {}
  }

  .single-form {
    position: relative;
    background: @bg-color;
    border: @border-size @link-color solid;
    overflow: hidden;
    input,
    button { 
      height: @default-margin*2;
      padding: @button-padding;
      border: none; // removes default os style
      .box-sizing(border-box);
    }
    input {
      width: 67%;
      float: left;
      background: transparent;
      outline: none;
    }
    button {
      width: 33%;
      float: right;
      text-align: center;
    }
  }

  .display-group {
    display: table;
    position: relative;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    text-align: center;
    .box-sizing(border-box);
    & > * {
      display: table-cell;
      position: relative;
      vertical-align: middle;
      float: none;
      .box-sizing(border-box);

      input,
      button {
        display: block;
        width: 100%;
        height: 100%;
        padding: @default-margin/2;
        border: 1px @link-color solid;
        outline: 0;
        .box-sizing(border-box);
      }
    }
    &.left {
      & > * { float: left; }
    }
    &.right {
      & > * { float: right; }
    }
    &.vertical {
      text-align: left;
      & > * {
        display: block;
        float: none;
      }
    }
    &.responsive {
      @media screen and (max-width : @layout-small-width) {
        display: block;
        & > * {
          display: block;
          float: none;
        }
      }
    }
  }

  .tabs {
    &.navi {
      margin-bottom: 0;
      li {
        a {
          padding: @button-padding @button-padding*2;
          padding-top: @button-padding * @padding-top-multiplier;
        }
      }
    }
    &.container {
      margin-bottom: @default-margin;
      padding: @default-margin;
      border: @border-size @link-color solid;
      .tab-content {
        display: none;
        &.active { display: block; }
      }
    }
  }


  .table-wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    & > .cell-wrap {
      display: table-cell;
      vertical-align: middle;
    }
  }
 


  .dialog {
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    height: 100%;
    background: darken(@bg-color, 20%);
    background: rgba(0, 0, 0, 0.33);
    z-index: 10;

    .dialog-frame {
      position: relative;
      top: 20%;
      width: 50%;
      max-width: @page-width - @default-margin*2;
      margin: 0 auto;
      background: white;
      overflow: hidden;
      //.border-radius(.5em);
      .box-shadow(0, .5em, 2em, 0, rgba(0, 0, 0, .33));
      .animation(fade-in-backward .3s @default-easing);

      & > * {
        padding: @default-margin @default-margin;
        .box-sizing(border-box);
      }

      .dialog-title {
        font-family: @title-font;
        font-size: 1.2em;
        line-height: 1.2em;
        font-weight: bold;
        color: @bg-color;
        background: @text-color;
      }

      .dialog-body {
        //min-height: 100px;
        font-size: 1.5em;
        line-height: @default-line-height;
      }

      .dialog-input {
        width: 100%;
        text-align: center;
        background: darken(@bg-color, 5%);
        .box-sizing(border-box);

        .btn {
          min-width: 8em;
        }
      }
    }

    .touch & .dialog-frame { top: 30%; }

    @media screen and (max-width : @layout-medium-width) {
      .dialog-frame { width: 75%; }
    }
    @media screen and (max-width : @layout-small-width) {
      .dialog-frame { width: 90%; }
    }
  }

/*==========================================================================
  grid system
  ==========================================================================*/

  .grid {
    @margin-perc: percentage(@grid-margin / @page-width);

    display: block;

    .grid-spacing(@grid-margin);
    .box-sizing(border-box);
    
    &,
    .row, {
      &:before,
      &:after {
        display: table;
        content: "";
        clear: both;
      }
    }
    

    .row { // use optional
      display: block;
      &:first-child { margin-top: 0; }
    }

    
    // deprecated
    .width-per-col (@num-cols: 1) {
      width: percentage( (100) / @num-cols / 100 );
    }

    .col {
      
      display: block;
      float: left;
      vertical-align: top;
      min-height: 1px;

      .box-sizing(border-box);

      .width-per-col(1); // 100%;

      &.right { float: right; }

      /* regular sizes */
      &.size-25 { width: 25%; }
      &.size-33 { width: 33.33333%; }
      &.size-50 { width: 50%; }
      &.size-66 { width: 66.66666%; }
      &.size-75 { width: 75%; }
      /* spezial size combinations */
      &.size-10 { width: 10%; }
      &.size-16 { width: 16.66666%; }
      &.size-20 { width: 20%; }
      &.size-40 { width: 40%; }
      &.size-60 { width: 60%; }
      &.size-80 { width: 80%; }

      /* responsive sizes relying on viewport */
      @media screen and (max-width : @layout-medium-width) {
        &.medium-size-100 { width: 100%; }
        &.medium-size-80  { width: 80%; }
        &.medium-size-75  { width: 75%; }
        &.medium-size-66  { width: 66.66666%; }
        &.medium-size-60  { width: 60%; }
        &.medium-size-50  { width: 50%; }
        &.medium-size-40  { width: 40%; }
        &.medium-size-33  { width: 33.33333%; }
        &.medium-size-25  { width: 25%; }
        &.medium-size-20  { width: 20%; }
      }
      @media screen and (max-width : @layout-small-width) {
        &.small-size-100 { width: 100%; }
        &.small-size-80  { width: 80%; }
        &.small-size-75  { width: 75%; }
        &.small-size-66  { width: 66.66666%; }
        &.small-size-60  { width: 60%; }
        &.small-size-50  { width: 50%; }
        &.small-size-40  { width: 40%; }
        &.small-size-33  { width: 33.33333%; }
        &.small-size-25  { width: 25%; }
        &.small-size-20  { width: 20%; }
      }

    }

    &.debug {
      .col > * {
        background-color: darken(@bg-color, 5%);
        .col > * { 
          background-color: darken(@bg-color, 10%);
          .col > * { 
            background-color: darken(@bg-color, 15%);
          }
        }
      }
    }


    &.cells,
    .row.cells { // renders first colset as table-cells *EXPERIMENTAL*
      display: table;
      table-layout: fixed;
      & > .col {
        display: table-cell;
        float: none;
      }
    }

    &.flip,
    .row.flip {
      & > .col {
        float: right;
      }
    }

    .responsive-grid () {
      &,
      & > .row {
        & > .col {
          &:not([class*="small-size-"]) {
            display: block;
            width: 100%;
            margin: @responsive-grid-margin 0 0 0;
            &:first-child { margin-top: 0; }
          }
        }
      }
    }
    
    &.responsive,
    .row.responsive {
      @media screen and (max-width : @grid-breakpoint) { .responsive-grid(); }
    }

    &.small-responsive,
    .row.small-responsive {
      @media screen and (max-width : @layout-small-width) { .responsive-grid(); }
    }

    &.medium-responsive,
    .row.medium-responsive {
      @media screen and (max-width : @layout-medium-width) { .responsive-grid(); }
    }

    &.large-responsive,
    .row.large-responsive {
      @media screen and (max-width : @layout-large-width) { .responsive-grid(); }
    }

    .col img.full-width { display: block; width: 100% !important; }

  }
   
}