// DO NOT CHANGE THESE VALUES!
// overwrite in your own 'config.less' instead

@layout-class: layout;

@images: '../images/'; // usage: url('@{images}file.jpg')
@fonts: '../fonts/'; // usage: url('@{fonts}file.eot')

@main-font: sans-serif;
@title-font: serif;

@main-font-weight: normal;
@title-font-weight: 700;

@theme-color: #F33;
@text-color: #666;
@title-color: #333;
@link-color: @theme-color;
@highlight-color: darken(@link-color, 20%);
@bg-color: #FFF;

@default-font-size: 14px;
@default-line-height: 1.66em;
@icon-size: 0.9em;
@border-size: 2px;

@default-margin: @default-font-size; // if ie8 support is not mandatory, use 1rem instead

@grid-margin: @default-margin*2; // these need to be px for calculation reasons :(
@responsive-grid-margin: @grid-margin; // for collapsed grid columns only

@button-padding: @default-margin*.33;
@icon-margin: @default-margin*.66;
@padding-top-multiplier: .9;

@default-easing: cubic-bezier(.5,.2,.5,1);

@fx-animation-time: .3s;
@fx-animation-ease: @default-easing;
@fx-opacity: .4;
@fx-strength: 1.0;

@page-width: 1160px;
@page-min-width: 320px;
@page-max-width: @page-width;

@layout-small-width: 640px;
@layout-medium-width: 960px;
@layout-large-width: 1024px;

@layout-small-height: 480px;
@layout-medium-height: 768px;
@layout-large-height: 1024px;

@grid-breakpoint: @layout-small-width;