.@{layout-class} {

  .fs-block {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    //.loaded & { .transition(height); }

    .fs-content {
      position: absolute;
      left: 0;
      top: 0;

      img,
      video,
      .fs-media {
        display: block;
        width: 100%;
      }
    }
  }

  .content-loader {

    .transition(all, .8s, @default-easing, .2s);

    &.hiding {
      & ~ * { visibility: hidden; }
    }

    &.overlay {
      position: fixed;
      left: 0; top: 0;
      width: 100%; height: 100%;
      text-align: center;
      z-index: 20;
      color: @bg-color;
      background: @link-color;
      //background: rgba(255, 255, 255, .8);
    }

    .loaded & {
      .opacity(0);

      &.overlay {
        .opacity(1);
        .transform(translateY(-100%));
      }
    }

    .no-js & { display: none !important; }
  }

  .image-fx { // deprecated
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    
    img {
      display: block;
      margin-bottom: 0 !important;
      .transition(all, @fx-animation-time, @fx-animation-ease);
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: 0; top: 0;
      width: 100%; height: 100%;
      border: 0 transparent solid;
      background: transparent;
      .box-sizing();
      .transition(all, @fx-animation-time, @fx-animation-ease);
    }

    &:hover {
      &.fx-scale {
        img { .transform(scale(1.1*@fx-strength) translate3d(0, 0, 0)); }
      }
      &.fx-rotate {
        img { .transform(scale(1.25*@fx-strength) rotate(8deg*@fx-strength) translate3d(0, 0, 0)); }
      }
      &.fx-border {
        &:after { border: 1em rgba(255, 255, 255, @fx-opacity) solid; }
      }
      &.fx-lighten {
        &:after { background: rgba(255, 255, 255, @fx-opacity); }
      }
      &.fx-darken {
        &:after { background: rgba(0, 0, 0, @fx-opacity); }
      }
    }
    
  }

}